:not(.layout-fixed) .main-sidebar {
    /* height: inherit;
    min-height: 100%;
    position: absolute; */
    top: 105px !important;
  }
.miNavbar{
    margin-left: 0 !important;
    width: 100% !important;
    background-color: goldenrod !important;
  }
.bg-marine {
    margin-top: 5px !important;
    background-color: MidnightBlue !important;
    height: 55px !important;
    width: 101% !important;    
}
.text--white {
    color: White !important;
}
.text--gold {
    color: GoldenRod;
}
#imgUnam {
    max-height: 38px;
    max-width: 38px;
}
#imgDgire {
    max-height: 38px;
    max-width: 38px;
}
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.select2-selection__rendered {  
  height: auto !important;
  margin-top: -8px !important;
  margin-bottom: 5px !important;
}
.miBtn{
  color: white !important;
}
.parsley-error {
  background: #FAEDEC !important;
  border: 1px solid #E85445 !important;
  }
  .errorBlock, .errorBlock > ul{
    color: red !important;
    list-style: none !important;
    margin-left: -5px !important;
    
  }
  /* .errorBlock > ul{
    list-style: none !important;
  } */
/* ///// */
/* @media (max-width: 767px) {
    .hidden-xs {
      display: none !important;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
      display: none !important;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
      display: none !important;
    }
  }
  @media (min-width: 1200px) {
    .hidden-lg {
      display: none !important;
    }
  } */